.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topicos__lista__item {
    margin: 2em 0.5em;
}

.topicos__lista__item-links {
    background-color: var(--laranja);
    padding: 1em;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 830px) {
    .topicos__titulo {
        font-size: 24px;
        padding: 1em 0;
    }

    .topicos__lista__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0.8em;
    }

    .topicos__lista__item-links {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos__titulo {
        font-size: 32px;
    }

    .topicos__lista {
        padding: 0 25vw 3em 25vw;
    }
}